@font-face {
    font-family: cuprum;
    src: url(../fonts/web/cuprum.woff); 
   }
   @font-face {
    font-family: cuprumItalic;
    src: url(../fonts/web/cuprumitalic.woff2); 
   }
body .top-line{
	font-family: cuprum; 
}
body .top-menu {
	font-family: cuprum; 
}
